<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:appstudio="http://schemas.microsoft.com/developer/appx/2015/appstudio" 
  IgnorableNamespaces="uap mp appstudio">
			<Identity Name="43668.6284F1423524" Publisher="CN=95A43D9E-8BE4-4E26-BE20-59AA2C890ED2" Version="1.0.0.0" />
	    <mp:PhoneIdentity PhoneProductId="ec35dc8e-27f2-4241-a20f-1fc3ef0fdccb" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
    <Properties>
        <DisplayName>共产党宣言</DisplayName>
        <PublisherDisplayName>西方媒体</PublisherDisplayName>
        <Logo>Assets\StoreLogo.png</Logo>
    </Properties>
    <Dependencies>
        <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.10240.0" MaxVersionTested="10.0.10240.0" />
    </Dependencies>
    <Resources>
        <Resource Language="x-generate"/>
    </Resources>
    <Applications>
        <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="AppStudio.App">
            <uap:VisualElements 
			  DisplayName="共产党宣言"
              Square150x150Logo="Assets\Square150x150Logo.png"
              Square44x44Logo="Assets\Square44x44Logo.png"
              Description="《共产党宣言》全文卡尔·马克思　 费里德里希·恩格斯"
              BackgroundColor="#fb0000">
                <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#fb0000"/>
                <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\Square310x310Logo.png">
                    <uap:ShowNameOnTiles>
                        <uap:ShowOn Tile="square150x150Logo"/>
						<uap:ShowOn Tile="square310x310Logo" />
                    </uap:ShowNameOnTiles>
                </uap:DefaultTile>
            </uap:VisualElements>
        </Application>
    </Applications>
    <Capabilities>
        <Capability Name="internetClient" />
    </Capabilities>
    <appstudio:Metadata>
        <appstudio:Item Name="appId" Value="ec35dc8e-27f2-4241-a20f-1fc3ef0fdccb" />
        <appstudio:Item Name="model" Version="1.12" />
        <appstudio:Item Name="formula" Value="Win10" Version="1.11.1110.1" />
        <appstudio:Item DataSource="Html" Version="1.0.*"/>
    </appstudio:Metadata>
</Package>
